body{
  background-color: rgb(28, 26, 23);
  color:aliceblue; 
}

/* Kích hoạt tính năng cuộn mượt cho toàn bộ trang */
html {
  scroll-behavior: smooth;
}

/* Chuyển đổi trang mượt mà */

@view-transition {
  navigation: auto;
  types: slide, rotate;
}

/* Đổi tên tiêu đề mặc định của github tham khảo Source - https://stackoverflow.com/a/26889106
Posted by G-Cyrillus
Retrieved 2026-09-17, License - CC BY-SA 3.0 */

h1 {
  text-indent:-9999px;
  font-size: clamp(1.8rem, calc(7vw + 1rem), 2rem);
}

h1:before {
  text-indent:0;
  content:'Theorem of Wantzel';
  float:left;
} 
